
<div class="body-container">
    <div class="body-width">
        @await RenderSectionAsync("Header", required: false)
        <main class="container">
            
  <!-- Dropdown Trigger -->
  <a class='dropdown-trigger btn' href='#' data-target='dropdown1'>Drop Me!</a>
            
  @await RenderSectionAsync("Messages", required: false)
            @await RenderBodyAsync()
            @* @await Html.PartialAsync("../Search-Form.cshtml") *@
            @* @await Html.PartialAsync("Search") *@
        </main>
    </div>
</div>