<!--@using OrchardCore.Menu.TagHelpers
<div class="navbar-test">
    <md-outlined-button id="usage-popover-anchor">Open popover menu</md-outlined-button>
</div>-->

<!-- popover menus do not require a common ancestor with the anchor. -->
<!--<md-menu positioning="popover" id="usage-popover" anchor="usage-popover-anchor">
    <menu 
        alias="alias:main-menu" 
        cache-id="main-menu" 
        cache-fixed-duration="00:05:00" 
        cache-tag="alias:main-menu"/>
</md-menu>

<script type="module">
      const anchorEl = document.body.querySelector('#usage-popover-anchor');
      const menuEl = document.body.querySelector('#usage-popover');
      anchorEl.addEventListener('click', () => { menuEl.open = !menuEl.open; });
</script>-->