@using OrchardCore.DisplayManagement.TagHelpers
@using OrchardCore.Menu.TagHelpers
@inject IDisplayManager<UserMenu> DisplayManager
@inject IUpdateModelAccessor UpdateModelAccessor



<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary">
  <div class="container-fluid">
    <!-- Toggle button -->
    <button
      data-mdb-collapse-init
      class="navbar-toggler red-color"
      type="button"
      data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <div class="material-symbols-outlined">
      menu
      </div>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <shape type="Branding"/>
      <div class="no-list-style body-flex-row menu-inter-padding">
        <menu
          alias="alias:main-menu"
          cache-id="main-menu"
          cache-fixed-duration="00:05:00"
          cache-tag="alias:main-menu"/>
      </div>
    </div>
    <!-- Collapsible wrapper -->

    <!-- Right elements -->
    @await RenderSectionAsync("NavbarTop", required: false)
    
    @await DisplayAsync(
        await DisplayManager.BuildDisplayAsync(
            new UserMenu(),
            UpdateModelAccessor.ModelUpdater
        )
    )
    <!-- Right elements -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->